@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: gray;
}
body{
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
}
.weather-input{
    width: 25%;
    position: fixed;
    inset: 0;
    background: linear-gradient(-45deg, #a91823 0%, #ff3545 100%);
   color: #f6f6f6;
    padding: 1rem 2.5rem;
}
.weather-input .feelLike,
.weather-input .date,
.weather-input .city {
    padding: 5px 0px;
}
.temperature{
    display: flex;
    font-size: 5rem;
    text-align: center;
    font-weight: 300;
}
.temperature span{
    font-size: 2rem;
    margin-top: 20px;
}
.weatherIcon {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: content;
    display: block;
    height: 10%;
    margin: 1rem auto;
}
.input-group{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}
.input-group input{
    background: #f8f8f8f8;
    text-transform: capitalize;
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
}

.input-group .converter{
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.input-group .fa-search{
    position: absolute;
    right: 15px;
    color: #90909090;
    cursor: pointer;
    font-size: 22px;
}

/* Wheather output */
.weather-output{
    width: 75%;
    position: fixed;
    inset: 0;
    margin-left: 25%;
    padding: 2rem;
    overflow: auto;
    background-position: top;
    background-size: cover;
    background-image: url("assets/background/bg5.jpg"); 
}

.highlight{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
   
}
.Forecast{
    display: grid;
    grid-template-columns:repeat(4, 250px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
    
}
.highlight div{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom left,#21c164,#312648,#ede90a);
    border-radius: 15px;
    padding: 0.5rem;
    color: white;
}
.Forecast div
{
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(180, 100, 238, 0.5);
    border-radius: 15px;
    padding: 0.5rem;
}
.highlight i{
    font-size: 45px;
}
.sun span{
    align-items: center;
    display: flex;
    gap: 10px;
}
.forecast-desc{
    color: yellow;
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 5px;
    text-align: center;
}

.weatherDailyIcon {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: content;
    display: block;
    height: 100%;
    margin: 2rem auto;
}

.Message{
    text-align: center;
    font-size: 0.75rem;
    color: yellow;
    font-style: italic;
}

/* rin drop css */
.rain-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.raindrop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 20px;
    background: rgba(174, 194, 224, 0.5);
    border-radius: 50%;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}